@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    padding: 28px 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.links a,
.text p {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.text p {
    margin-bottom: 0.75rem;
}

.hero {
    padding: 100px 192px 128px 192px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 464px;
    height: 240px;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: #3882F6;
}

.img {
    width: 464px;
    height: 240px;
    overflow: hidden;    
}

.img img {
    height: auto;
    width: 464px;
    margin: -20px auto 0 auto;
}

h1 { 
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

}