@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    padding: 28px 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.links a,
.text p,
.footer p {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.text p {
    margin-bottom: 0.75rem;
}

.hero {
    padding: 100px 192px 128px 192px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 464px;
    height: 240px;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: #3882F6;
}

.img {
    width: 464px;
    height: 240px;
    overflow: hidden;    
}

.img img {
    height: auto;
    width: 464px;
    margin: -20px auto 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 128px;
    justify-content: center;
}
 
.item {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
}

.item p {
    color: #4F5866;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.itemimg {
    border: #3882F6 solid 5px;
    border-radius: 24px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.item img {
    width: auto;
    height: 250px;
    margin: auto;
   
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
}


.quotetext {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
    width: 1144px;
}

.author {
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
}

.sign-up .signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: #E5E7EB solid;
}

.sign-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 160px;
    border-radius: 10px;
    margin: 128px 0;
}

.signuptext {
    display: flex;
    flex-direction: column;
    margin-right: 144px;
}

.signuptext p {
    color: #F9FAF8;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: sticky;
    top: 100%;
}

h1 { 
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: 900;
    margin: 3.5rem;
}

h3 { 
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

}